body{
	font: 14px Helvetica;
}
.frame{
	outline: 16px solid gray;
    outline-offset: -16px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:1;
	left:0px;
	top:0px;
	background-color: #b3ecff;
	margin:0px;
}
.nation{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:24px;
	position:fixed;
}
.party{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:80px;
	position:fixed;
	text-align:center;
}
.menuItem{
	cursor:default;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.menuItem:hover{
	background-color:#ededed;
}
.popupwindow{
	position: absolute;
	z-index: 2;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	width: 500px;
	height: 300px;
	top:20%;
	left: 30%;
	text-align: left;
	padding-top: 20px;
}
#header {
	position:absolute;
	background-color:#d4d4d4;
	padding: 0px;
	cursor: move;
	z-index: 1;
	top:0px;
	left:0px;
	width:460px;
	height:10px;
}
#xbutton{
	position:absolute;
	background-color:#d4d4d4;
	cursor:default;
	top:0px;
	right:0px;
	width:40px;
	height:10px;
	text-align:right;
	font-size:9px;
}

#piechart {
    position: absolute;
    top: 15px;
    right: 0px;
    width:250px;
    height:200px;
}

#resources{
	position:absolute;
	z-index:0;
	height: 16px;
	background-color: #e0e0e0;
	top:16px;
	width:90%;
	left:24px;
}

#main{
	position:absolute;
	z-index:-1;
}

#mydiv {}