body{
	font: 14px Helvetica;
}
.frame{
	outline: 16px solid gray;
    	outline-offset: -16px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:1;
	left:0px;
	top:0px;
	background-color: #b3ecff;
	margin:0px;
}
.nation{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:24px;
	position:fixed;
}
.pop:hover{
	outline: 1px solid yellow;
}
.party{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:80px;
	position:fixed;
	text-align:center;
}
.menuItem{
	cursor:default;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.menuItem:hover{
	background-color:#ededed;
}
.popupwindow{
	position: absolute;
	z-index: 999;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	width: 500px;
	height: 300px;
	top:150px;
	left: 550px;
	text-align: left;
	padding-top: 20px;
	padding-left: 10px;
}
#popupwindow_actions{
	position:absolute;
	background-color:#c4c4c4;
	width: 480px;
	height: 100px;
	bottom: 10px;
	left: 10px;
}
#header {
	position:absolute;
	background-color:#d4d4d4;
	padding: 0px;
	cursor: move;
	z-index: 0;
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
#xbutton{
	position:absolute;
	background-color:#d4d4d4;
	cursor:default;
	top:0px;
	right:0px;
	width:40px;
	height:10px;
	text-align:right;
	font-size:9px;
}

#piechart {
    	position: absolute;
    	top: 15px;
   	right: 0px;
    	width:250px;
  	height:200px;
}

#resources{
	position:absolute;
	z-index:0;
	height: 16px;
	background-color: #e0e0e0;
	top:16px;
	width:90%;
	left:24px;
}

#partyflag{
	position:absolute;
	z-index:0;
	background-color:gray;
	background-image: url("party_none.png");
	border:8px solid gray;	
	width:100px;
	height:75px;
	top:31px;
	left:18px;
}
#partyflag_below{
	position:absolute;
	z-index:-1;
	background-color:gray;	
	width:120px;
	height:106px;
	top:16px;
	left:16px;
}
#screen_partycontrol{
	position:absolute;
	background-color:#f1f1f1;	
	background-image:url("party_none.png");
	top:70px;
	left:625px;
	width:400px;
	height:70%;
	padding:20px;
}

#screen_partycontrol_party_desc{
	position:absolute;
	background-color:gray;
	top:20px;
	right:10px;
	width:150px;
	height:100px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_party_modifiers{
	position:absolute;
	background-color:#dbdbdb;
	top:20px;
	right:180px;
	width:100px;
	height:100px;
	padding:5px;
	font:9px  Helvetica;
}

#screen_partycontrol_party_leaders{
	position:absolute;
	background-color:gray;
	top:140px;
	right:10px;
	width:400px;
	height:50px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_party_platforms{
	position:absolute;
	background-color:#c9c9c9;
	top:210px;
	right:10px;
	width:400px;
	height:220px;
	padding:5px;
	font:9px  Helvetica;
}

#main{
	position:absolute;
	z-index:-1;
}

#mydiv {}
