body{
	font: 14px Helvetica;
}

.nation{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:24px;
	position:fixed;
}
.pop0:hover{
	background-image: url(oligarchpop_hi.png);
}
.pop1:hover{
	background-image: url(whitecollarpop_hi.png);
}
.pop2:hover{
	background-image: url(workingclasspop_hi.png);
}
.party{
	width: 55px;
	height: 16px;
	background-color: #e0e0e0;
	top:0px;
	left:80px;
	position:fixed;
	text-align:center;
}
.menuItem{
	cursor:default;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.menuItem:hover{
	background-color:#ededed;
}
.popupwindow{
	position: absolute;
	z-index: 0;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	width: 500px;
	height: 300px;
	top:150px;
	left: 550px;
	text-align: left;
	padding-top: 20px;
	padding-left: 10px;
	cursor:default;
}
#popupwindow_actions{
	position:absolute;
	background-color:#c4c4c4;
	width: 220px;
	height: 100px;
	bottom: 10px;
	left: 10px;
}
#header {
	position:absolute;
	background-color:#d4d4d4;
	padding: 0px;
	cursor: move;
	z-index: 0;
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
#xbutton{
	position:absolute;
	background-color:#d4d4d4;
	cursor:default;
	top:0px;
	right:0px;
	width:40px;
	height:10px;
	text-align:right;
	font-size:9px;
}
#piechart {
	position: absolute;
	top: 15px;
	right: 0px;
	width:290px;
	height:200px;
}
#popchart {
	position: absolute;
	z-index: 1;
	top: 210px;
	right: 0px;
	width:290px;
	height:100px;
}
#resources{
	position:absolute;
	display: inline-block;
	z-index:0;
	height: 30px;
	background-color: #e0e0e0;
	top:16px;
	width:700px;
	left:136px;
}
.resources_boxes{
	position:absolute;
	top:2px;
	height:26px;
	width: 40px;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	background-color: #b0b0b0 ;
}
#resources_politicalpower{
	left: 10px;
}
#resources_cash{
	left: 55px;
}
#resources_orgeffic{
	left: 100px;
}
#resources_experience{
	left: 145px;
}

#partyflag{
	position:absolute;
	z-index:1;
	background-color:gray;
	background-image: url("party_none.png");
	border:8px solid gray;
	width:100px;
	height:75px;
	top:18px;
	left:18px;
}
#partyflag:hover{
	outline: 2px solid yellow;
}
#partyflag_below{
	position:absolute;
	z-index:0;
	background-color:gray;
	width:120px;
	height:93px;
	top:16px;
	left:16px;
}
#screen_partycontrol{
	position:absolute;
	z-index:0;
	background-color:#dbdbdb;
	background-image:url("party_none.png");
	border: 1px solid #d3d3d3;
	top:70px;
	left:625px;
	width:400px;
	height:500px;
	padding:20px;
}
#screen_partycontrol_party_desc{
	position:absolute;
	background-color:gray;
	top:20px;
	right:10px;
	width:150px;
	height:100px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_party_modifiers{
	position:absolute;
	background-color:#dbdbdb;
	top:20px;
	right:180px;
	width:100px;
	height:100px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_party_leaders{
	position:absolute;
	background-color:gray;
	top:140px;
	right:10px;
	width:400px;
	height:50px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_party_platforms{
	position:absolute;
	background-color:#c9c9c9;
	top:210px;
	right:10px;
	width:400px;
	height:220px;
	padding:5px;
	font:9px  Helvetica;
}
#screen_partycontrol_specific_platform{
	position:relative;
	top: 10px;
	padding:5px;
	cursor:default;
}
#screen_partycontrol_specific_platform:hover{
	background-color:#dbdbdb;
}
#screen_partycontrol_specific_platform:active{
	background-color:yellow;
}
#screen_partycontrol_addnewplatform{
	top: 10px;
	position:relative;
	padding-left:17px;
	margin:3px;
	height: 15px;
	padding:0px;
	padding-left:17px;
	padding-top:2px;
	width: 370px;
	cursor:default;
	background-color:#dbdbdb;
}
#screen_partycontrol_addnewplatform:hover{
	background-color:gray;
}
#screen_partycontrol_addnewplatform:active{
	background-color:yellow;
}
#screen_partycontrol_plussign{
	position:absolute;
	top: 0px;
	left:3px;
	padding:1px;
	height: 10px;
	width: 10px;
	font: bold 12px Helvetica,  sans-serif;
	color:#00b85f;
	cursor:default;
}
#screen_partycontrol_modplatform{
	position: absolute;
	top: 250px;
	left: 700px;
	height: 300px;
	width: 300px;
}
#screen_partycontrol_modifier{
	position:relative;
	text-align:center;
	top:15px;
	left:0px;
	font-size:17px;
	height:15px;
	width:15px;
	cursor:default;
	 display: inline-block;
}
#screen_partycontrol_modifier:hover{
	outline:1px solid yellow;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
	font-size: 9px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
	top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#indiv_popinfo{
	position:absolute;
	z-index:0;
	background-color:#f1f1f1;
	border: 1px solid #d3d3d3;
	top:100px;
	left:620px;
	width:400px;
	height:400px;
	padding:15px;
	font:10px Helvetica;
}
#indiv_popinfo_inner_wrapper{
	position:relative;
	z-index:0;
	top:25px;
	left:0px;
	width:400px;
	height:360px;
	overflow: scroll;
}
#indiv_popinfo_innerbox{
	position:relative;
	z-index:2;

	top: 5px;
	padding: 2px;
	left: 0px;
	height: 46px;
	width: 340px;
	margin: 2px;
}
#indiv_popinfo_innerbox_text{
	position:absolute;
	background-color:#c9c9c9 ;
	z-index:3;
	top: 0px;
	left: 24px;

	height: 40px;
	width: 325px
}
#indiv_popinfo_innerbox_popicon{
	position:absolute;
	z-index:3;
	top:0px;
	padding: 0px;
	text-align: center;
	vertical-align:middle;
	left: 0px;
	height: 40px;
	width: 22px;
	background-color: gray;
}

/* width */
::-webkit-scrollbar {
 width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
#main{
	position:absolute;
	z-index:0;
	overflow:hidden;
}
.frame{
	outline: 16px solid gray;
    	outline-offset: -16px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:0;
	left:0px;
	top:0px;
	background-color: #b3ecff;
	margin:0px;
}
#mydiv {}

#gamemap{
	position: absolute;
	z-index:-1;
	width:1980px;
	top:16px;
	height: 1080px;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top:50%;
  left: 50%;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  z-index:100;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
